<% if portfolio %>
  <%= link_to portfolio, class: 'ui raised link card' do %>
    <div class="content">
      <div class="right floated meta">
        <%= portfolio.date %>
      </div>
      <%= image_tag portfolio.icon.url, class: 'ui avatar image' if portfolio.icon? %>
      <h2 class="no-link header">
        <%= portfolio.title %>
      </h2>
    </div>
    <div class="image">
      <%= image_tag portfolio.picture.url if portfolio.picture? %>
    </div>
    <div class="content no-link">
      <%= portfolio.body.truncate_words(20) %>
    </div>
    <div class="extra content">
      <%= icon('far', 'comment') %>
      <%= portfolio.comments.count %> comments
    </div>
  <% end %>
<% end %>
