<% if portfolio %>
  <%= link_to portfolio, class: 'ui raised link card' do %>
    <div class="content">
      <div class="right floated meta">
        <%= portfolio.date %>
      </div>
      <h2 class="ui no-link header">
        <%= image_tag portfolio.icon.url, style: 'height: 1em; width: auto;', class: 'ui avatar image' if portfolio.icon? %>
        <div class="content">
          <%= portfolio.title %>
        </div>
      </h2>
    </div>
    <% if portfolio.picture? %>
      <div class="image">
        <%= image_tag portfolio.picture.url if portfolio.picture? %>
      </div>
    <% end %>
    <div class="content no-link">
      <%= portfolio.body.truncate_words(20) %>
    </div>
    <div class="extra content">
      <%= icon('far', 'comment') %>
      <%= portfolio.comments.count %> comments
    </div>
  <% end %>
<% end %>
