<div class="ui three doubling cards">
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
  <%= render 'portfolio/portfolio_item' %>
</div>
